@import './src/assets/variable/variable';

h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 56px;
  margin: 15px 5px;
  color: $white;

}
span {
  color: $white;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
a {
  margin-left: 6px;
  font-weight: bold;
  color: $white
}
.mat-icon {
  color: $white;
}

.submit-button {
  margin-top: 10px;
}

.event-container {
  display: block;
  margin: auto;
  background: $blue-grey;
  padding: 48px;
  border-radius: 16px;
  text-align: center;
}

.event-container mat-form-field {
  width: 100%
}

.full-width {
  width: 100%;
}
table {
  border-spacing: 50px 0;
}
.cat {
  padding-right: 10px;
  width: 40%;
}
.cat-map {
  display: flex;
  justify-content: space-between;
}
.search-box {
  width: 60%;
}

.display-area {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: end;
}
.space-td {
  padding-bottom: 1.25em;
}
.pick-date {
  cursor: pointer;
}


