<div class="event-container mat-elevation-z5">
  <h1>Dodaj nowe wydarzenie</h1>
  <form [formGroup]="events" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Nazwa wydarzenia</mat-label>
        <input
         matInput
         placeholder="np. Bal u Rafała"
         formControlName="name"
         autocomplete="off"
         />
        <mat-error *ngIf="events.get('name')?.errors?.['required']">
          Nazwa wydarzenia jest wymagana
        </mat-error>
    </mat-form-field>
    <table class="full-width">
      <tr class="cat-map">
        <td class="cat">
          <mat-form-field>
            <mat-label>Kategoria</mat-label>
            <mat-select formControlName="category" multiple>
              <mat-option *ngFor="let category of categoryList" [value]="category">{{ category }}</mat-option>
            </mat-select>
            <mat-error *ngIf="events.get('category')?.errors?.['required']">
              Wybierz co najmniej jedną kategorię
            </mat-error>
            <mat-hint>Możesz wybrać więcej niż jedną kategorię</mat-hint>
          </mat-form-field>
        </td>
        <td class="search-box">
            <app-place-autocomplete
          (placeChanged)="locationValue = $event"
          placeholder="Wpisz adres"
        ></app-place-autocomplete>
        <div class="display-area">
          <app-map-display [mapLocation]="locationValue"></app-map-display>
        </div>
        </td>
      </tr>
    </table>
  </form>
</div>
