<div class="event-container mat-elevation-z5">
  <h1>Dodaj nowe wydarzenie</h1>
  <form [formGroup]="newEvent" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Nazwa wydarzenia</mat-label>
        <input
         matInput
         placeholder="np. Bal u Rafała"
         formControlName="name"
         autocomplete="off"
         />
        <mat-error *ngIf="newEvent.get('name')?.errors?.['required']">
          Nazwa wydarzenia jest wymagana
        </mat-error>
    </mat-form-field>
    <table class="full-width">
      <tr class="cat-map">
        <td class="cat">
          <mat-form-field class="space-td">
            <mat-label>Kategoria</mat-label>
            <mat-select formControlName="category" multiple>
              <mat-option *ngFor="let category of categoryList" [value]="category">{{ category }}</mat-option>
            </mat-select>
            <mat-error *ngIf="newEvent.get('category')?.errors?.['required']">
              Wybierz co najmniej jedną kategorię
            </mat-error>
            <mat-hint>Możesz wybrać więcej niż jedną kategorię</mat-hint>
          </mat-form-field>
          <mat-form-field class="space-td" (click)="picker.open()">
            <mat-label>Data rozpoczęcia</mat-label>
            <input
            class="pick-date"
            matInput
            readonly
            [matDatepicker]="picker"
            [min]="todayDate"
            placeholder="Wybierz datę rozpoczęcia wydarzenia"
            formControlName="dateOfEvent"
            />
            <mat-error *ngIf="newEvent.get('dateOfEvent')?.errors?.['required']">
              Musisz podać datę swojego wydarzenia
            </mat-error>
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="space-td">
            <mat-label>Godzina rozpoczęcia</mat-label>
            <input
            matInput
            type="time"
            formControlName="hourOfEvent"
            />
            <mat-error *ngIf="newEvent.get('hourOfEvent')?.errors?.['required']">
              Musisz podać godzinę rozpoczęcia swojego wydarzenia
            </mat-error>
            <mat-hint>HH/MM</mat-hint>
          </mat-form-field>
          <mat-form-field class="space-td">
            <mat-label>Liczba gości</mat-label>
            <input
            matInput
            type="number"
            min="1"
            autocomplete="off"
            formControlName="numberOfGuests"
            />
            <mat-error *ngIf="newEvent.get('numberOfGuests')?.errors?.['required']">
              Podaj maksymalną liczbę uczestników wydarzenia
            </mat-error>
            <mat-error *ngIf="newEvent.get('numberOfGuests')?.errors?.['min']">
              Liczba gości nie może być mniejsza lub równa 0
            </mat-error>
          </mat-form-field>
          <mat-form-field class="space-td">
            <mat-label>Wydarzenie płatne/bezpłatne</mat-label>
            <mat-select formControlName="freeOrPaid" [(ngModel)]="selectedValue" >
              <mat-option value="paid">Płatne</mat-option>
              <mat-option value="free">Bezpłatne</mat-option>
            </mat-select>
            <mat-error *ngIf="newEvent.get('freeOrPaid')?.errors?.['required']">
              Wybierz formę wydarzenia
            </mat-error>
            <mat-hint>Możesz wybrać więcej tylko jedną formę</mat-hint>
          </mat-form-field>
          <mat-form-field class="space-td" *ngIf="selectedValue === 'paid'">
            <mat-label>Cena biletu w zł</mat-label>
            <input
            matInput
            type="number"
            min="1"
            autocomplete="off"
            formControlName="costOfTicket"
            />
            <mat-error *ngIf="newEvent.get('costOfTicket')?.errors?.['min']">
              Cena biletu musi wynosić co najmniej 1 zł
            </mat-error>
            <mat-error *ngIf="newEvent.get('costOfTicket')?.errors?.['required']">
              Przy wydarzeniu płatnym cena biletu jest wymagana
            </mat-error>
          </mat-form-field>
          <mat-form-field class="space-td" *ngIf="selectedValue === 'paid'">
            <mat-label>Strona gdzie można zakupić bilet</mat-label>
            <input
            matInput
            autocomplete="off"
            formControlName="linkToTicket"
            placeholder="np. https://www.eventim.pl/"
            />
            <mat-error *ngIf="newEvent.get('linkToTicket')?.errors?.['required']">
              Przy wydarzeniu płatnym link do strony z biletami jest wymagany
            </mat-error>
          </mat-form-field>
          <mat-form-field class="space-td">
            <mat-label>Wybierz typ wydarzenia</mat-label>
            <mat-select formControlName="typeOfEvent">
              <mat-option value="openAir">Na świeżym powietrzu</mat-option>
              <mat-option value="closed">W zamkniętym pomieszczeniu</mat-option>
            </mat-select>
            <mat-hint>Możesz wybrać więcej tylko jedną formę</mat-hint>
          </mat-form-field>
          <mat-form-field class="space-td">
            <mat-label>Styl ubioru</mat-label>
            <mat-select formControlName="dressCode" multiple>
              <mat-option *ngFor="let dressCode of dressCodeList" [value]="dressCode">{{ dressCode }}</mat-option>
            </mat-select>
            <mat-hint>Możesz wybrać więcej niż jeden styl ubioru</mat-hint>
          </mat-form-field>
        </td>
        <td class="search-box">
          <app-place-autocomplete
          (placeChanged)="locationValue = $event"
          placeholder="Wpisz adres"
          >
          </app-place-autocomplete>

        <div class="display-area">
          <app-map-display [mapLocation]="locationValue"></app-map-display>
        </div>
        </td>
      </tr>
    </table>
    <mat-form-field>
      <mat-label>Opis wydarzenia</mat-label>
        <textarea
         matInput
         formControlName="description"
         placeholder="Opisz swoje wydarzenie">
        </textarea>
        <mat-error *ngIf="newEvent.get('description')?.errors?.['required']">
          Opisz błąd
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Dodaj wydarzenie
    </button>
  </form>
</div>
