<div class="form-container mat-elevation-z5">
  <h1>Przypomnij hasło</h1>
  <form [formGroup]="passwordReset" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Adres e-mail" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Adres e-mail jest wymagany!
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Wprowadź poprawny adres e-mail
      </mat-error>
    </mat-form-field>
    <div class="center">
      <button class="submit-button" mat-raised-button color="primary" type="submit">
        Wyślij link
      </button>
    </div>
    <span>Wróć do logowania  <a [routerLink]="['/login']" >Zaloguj się!</a></span>
  </form>
</div>
