@use '@angular/material' as mat;

$background-color: #f5f5f5;
$black: #000000;
$blue-background: #189ce9;
$blue-grey: #424242;
$border-color: #0000001f;
$box-shadow-background: #bfbfbf;
$card-background: #fafafa;
$dark-theme-color: #212529;
$gray: #6a6a6a;
$gray-border: #f0f0f0;
$gray-dark: #666;
$gray-lighter: #ccc;
$ind-invest-background: #fff2f0;
$light-purple: #7365ff;
$light-red: #f63263;
$pink: #e91e63;
$status-white: #c4c5d6;
$status-blue: #36a3f7;
$status-green: #009673;
$status-red: #f4516c;
$status-yellow: #fdd302;
$white: #ffffff;
$yellow-background: #e0d31c;
$closed-blue: #8de9fe;
$rate-delayed-column-background-color: #f8cbad;
$green-background: #0f8200;
$red-background: #bb3234;
$blue-dark: #1f2c4f;
$gradient-background: linear-gradient(0deg, #234666 0%, #1f2c4f 100%);
