<div class="form-container mat-elevation-z5">
  <h1>Ustaw nowe hasło</h1>
  <form [formGroup]="resetPassword" (ngSubmit)="submit()">
    <mat-form-field>
      <input
      matInput
      placeholder="Nowe hasło"
      formControlName="newPassword"
      [type]="hide ? 'password' : 'text'"
      autocomplete="off"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="newPassword?.errors?.['required']">
        Hasło jest wymagane!
       </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Powtórz hasło"
        formControlName="confirmPassword"
        autocomplete="off"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Powtórzenie hasła jest wymagane!
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="resetPassword.errors?.['passwordsDontMatch']">
        Hasła nie pasują do siebie
    </mat-error>
    <div class="center">
      <button class="submit-button" mat-raised-button color="primary" type="submit">
        Zmień hasło
      </button>
    </div>
  </form>
</div>
