<mat-toolbar color="primary">
    Event Management App
    <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Wyloguj się
      </button>
    </ng-container>
    <ng-template #loginButton>
      <button mat-button [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
        Zaloguj się
      </button>
    </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

