<mat-toolbar color="primary">
  <a mat-button class="link" routerLink=''>Event management app</a>
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <a mat-button class="link" routerLink="/events/add">Dodaj wydarzenie</a>
    <a mat-button class="link" routerLink="/events">Znajdź wydarzenie</a>
    <a mat-button class="link" routerLink="/dashboard">Historia twoich wydarzeń</a>
    <a mat-button class="link" routerLink="/dashboard">Nadchodzące wydarzenia</a>
    <a mat-button class="link" routerLink="/contact">Kontakt</a>
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user?.photoURL || '/assets/imgs/image-placeholder.png'"
      />
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Zaloguj się
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profil
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Wyloguj
  </button>
</mat-menu>
