@import './src/assets/variable/variable';


#map-container {
  height: 100%;
  width: 100%;
}

.info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.load-map-button {
  width: 200px;
}

.search-location-input {
  width: 200px;
  height: 40px;
}

.search-button {
  width: 200px;
}

.map-container {
  display: flex;
  float: right;
  max-width: 250px;
  background-color: $blue-grey;
  border-radius: 10px;
}

.event-details {
  color: white;
  padding: 30px 15px;
}


.button-container {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
  justify-content: space-between;
  max-width: 80%;
}

.details-button {
  margin-left: 20px;
  height: 38px;
}
