<div class="map-container">
  <button mat-raised-button class="load-map-button" (click)="getAllEvents()">Wczytaj wydarzenia</button>
  <input class="search-location-input" matInput type="text" [(ngModel)]="searchLocation" placeholder="Szukaj lokalizacji">
  <button mat-raised-button class="search-button" (click)="searchLocationOnMap()">Szukaj</button>
  <div *ngIf="selectedEvent" class="event-details">
    <h3>Nazwa wydarzenia: {{ selectedEvent.name }}</h3>
    <h2>Wydarzenie użytkownika: {{ selectedEvent.uid.firstName }}</h2>
    <p>Kategoria: {{ selectedEvent.category }}</p>
    <p>Data wydarzenia: {{ selectedEvent.dateOfEvent?.toDate() | date: 'dd.MM.YYYY' }}</p>
    <p>Godzina wydarzenia: {{ selectedEvent.hourOfEvent }}</p>
    <p>Liczba gości: {{ selectedEvent.numberOfGuests | emptyPipe }}</p>
    <p>Wolna liczba miejsc: {{ selectedEvent.limit | emptyPipe }}</p>
    <p>Typ wydarzenia: {{ selectedEvent.freeOrPaid | subStatusPipe }}</p>
    <p>Adres: {{ selectedEvent.location }}</p>
    <td>
      <button *ngIf="userId !== selectedEvent.uid" type="button" class="btn btn-primary" [disabled]="isEventFull(selectedEvent) && !isUserJoined(selectedEvent)" (click)="toggleJoinEvent(selectedEvent)">
        {{ isUserJoined(selectedEvent) ? 'Zrezygnuj' : 'Dołącz' }}
      </button>
      <span *ngIf="userId === selectedEvent.uid" (click)="removeEvent(selectedEvent)" class="btn btn-danger">Usuń</span>
    </td>
  </div>
</div>
<google-map #map [zoom]="zoom" width="70%" height="30vw" [center]="center" [options]="options">
  <map-marker *ngFor="let markerPosition of markerPositions; let i = index" [position]="markerPosition" [attr.marker-index]="i" (mapClick)="onMarkerClick($event, i)"></map-marker>
</google-map>
